.main-icon-footer {
    height: 100px;
}
ul>li{
    list-style: none;
}
.list-footer>li{
    margin-top: 12px;
}
.burger{
    height: 250px;
}
.img-footer>img{
    width: 50%;
    height: 200px;
    padding: 5px;
    border-radius: 16px;
}